<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title大傻子</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/vue.js"></script>
    <style>
        .complete{ color: green; text-decoration: line-through; }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vue2.0 lessons
                </div>
                <div class="panel-body">
                    <h1>Vue2.0-- My Todos ({{ todoCount }})</h1>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="(todo, index) in todos" v-bind:class="{'complete':todo.complete}">
                            {{ todo.title }}
                            <div class="pull-right">
                                <button class="btn btn-xs" @click="completeTodo(todo)" v-bind:class="[todo.complete ? 'btn-warning' : 'btn-success']">
                                    {{ todo.complete ? 'cancel' : 'complete' }}
                                </button>
                                <button class="btn btn-danger btn-xs" @click="deleteTodo(index)">remove</button>
                            </div>
                        </li>
                    </ul>
                    <form @submit.prevent="addTodo(newTodo)">
                        <div class="form-group">
                            <input v-model="newTodo.title" type="text" class="form-control" placeholder="Add a new todo">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el:'.container',
        data:{
            todos:[
                {id:null, title:'It is cool', complete:true},
                {id:null, title:'It is cool', complete:false},
                {id:null, title:'It is cool', complete:true}
            ],
            newTodo:{id:null, title:'', complete:false}
        },
        computed:{
            todoCount:function () {
                return this.todos.length;
            }
        },
        methods:{
            addTodo:function(newTodo){
                this.todos.push(newTodo);
                this.newTodo = {id:null, title:'', complete:false};
            },
            deleteTodo:function (index) {
                this.todos.splice(index, 1);
            },
            completeTodo:function (todo) {
                todo.complete = !todo.complete;
            }
        }
    });
</script>
</body>
</html>