<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title大傻子</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/vue.js"></script>
    <style>
        .completed{ color: green; text-decoration: line-through; }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vue2.0 lessons
                </div>
                <div class="panel-body">
                    <h1>Vue2.0-- My Todos ({{ todoCount }})</h1>
                    <todos :todos="todos"></todos>
                    <todo-form :todos="todos"></todo-form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="todos">
    <ul class="list-group">
        <li class="list-group-item" v-for="(todo, index) in todos" v-bind:class="{'completed':todo.completed}">
            {{ todo.title }}
            <div class="pull-right">
                <button class="btn btn-xs" @click="completeTodo(todo)" v-bind:class="[todo.completed ? 'btn-warning' : 'btn-success']">
                    {{ todo.completed ? 'cancel' : 'completed' }}
                </button>
                <button class="btn btn-danger btn-xs" @click="deleteTodo(index)">remove</button>
            </div>
        </li>
    </ul>
</script>
<script type="text/x-template" id="todo-form">
    <form @submit.prevent="addTodo(newTodo)">
        <div class="form-group">
            <input v-model="newTodo.title" type="text" class="form-control" placeholder="Add a new todo">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-sm">submit</button>
        </div>
    </form>
</script>

<script>
    Vue.component('todos', {
        template:'#todos',
        props:['todos'],
        methods:{
            deleteTodo(index) {
                this.todos.splice(index, 1);
            },
            completeTodo(todo) {
                todo.completed = !todo.completed;
            }
        }
    });

    Vue.component('todo-form', {
        template:'#todo-form',
        props:['todos'],
        data() {
            return {
                newTodo:{id:null, title:'', completed:false}
            };
        },
        methods:{
            addTodo(newTodo){
                this.todos.push(newTodo);
                this.newTodo = {id:null, title:'', completed:false};
            },
        }
    });

    new Vue({
        el:'.container',
        data:{
            todos:[
                {id:null, title:'It is cool', completed:true},
                {id:null, title:'It is cool', completed:false},
                {id:null, title:'It is cool', completed:true}
            ]
        },
        computed:{
            todoCount() {
                return this.todos.length;
            }
        }
    });
</script>
</body>
</html>